<div class="col-12 col-lg-6 mt-4 mt-lg-0">
  <h2 class="title title--h3">مهارت های کدنویسی</h2>
  <div class="box box__second">
    <!-- Progress -->
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 70%; z-index: 2"
      >
        <div class="progress-text"><span>WordPress</span><span>70%</span></div>
      </div>
      <div class="progress-text"><span>WordPress</span></div>
    </div>

    <!-- Progress -->
    {% for item in coding_skills %}{% endfor %}
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        aria-valuenow="{{item.percent}}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 70%; z-index: 2"
      >
        <div class="progress-text">
          <span>{{item.title}}</span><span>{{item.percent}}%</span>
        </div>
      </div>
      <div class="progress-text"><span>{{item.title}}</span></div>
    </div>
  </div>
</div>
