{% extends 'base.html' %} {% block content %}
    <div class="pb-3">
        <h1 class="title title--h1 title__separate">رزومه</h1>
    </div>

    <div class="pb-0">
        <div class="row">
            {% include 'cv/educations.html' with educations=user.educations_set.all %} {% include 'cv/experience.html' with experiences=user.experiences_set.all %}
        </div>
    </div>

    <div class="box-inner box-inner--rounded">
        <div class="row">
            {% include 'cv/design_skills.html' with design_skills=user.design_skills_set.all %}
            {% include 'cv/coding_skills.html' with coding_skills=user.coding_skills_set.all %}
        </div>
    </div>
    <p>{% endblock %}</p>
